################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookBrowser/.vs
/.vs/BookBrowser-Test/FileContentIndex/137a3bf7-e521-4f90-ba16-246df349d3c5.vsidx
/.vs/BookBrowser-Test/FileContentIndex/250774f5-ce36-42ee-ab70-8a405fccf1b6.vsidx
/.vs/BookBrowser-Test/FileContentIndex/246f5549-80b2-4b96-b264-1e55cd7bf588.vsidx
/.vs/BookBrowser-Test/FileContentIndex/c041f1c7-614b-40b4-815c-21be8e56cddd.vsidx
/.vs/BookBrowser-Test/FileContentIndex/bf4fcb19-69ef-462c-a62b-6468ae14a9cc.vsidx
/.vs/BookBrowser-Test/FileContentIndex/46fcc37c-d79a-420d-8883-c5251fb55f32.vsidx
