################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookBrowser/.vs
/.vs/BookBrowser-Test/FileContentIndex/137a3bf7-e521-4f90-ba16-246df349d3c5.vsidx
